@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

[data-ui="NextStudioLayout"] p,
[data-ui="NextStudioLayout"] li,
[data-ui="NextStudioLayout"] a,
[data-ui="NextStudioLayout"] span {
	font-family: "Kanit", sans-serif;
	letter-spacing: 0;
	font-size: 1rem;
}

.sr-only {
	position: absolute;
	width: 0.0625rem;
	height: 0.0625rem;
	padding: 0;
	margin: -0.0625rem;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

/* Typography */

h1 {
	font-size: 3.625rem;
	text-transform: uppercase;
	color: #AB731F;
	line-height: 1.2;
}

h1 span {
	color: #FFFFFF;
	display: block;
	font-size: 3.625rem;
	font-weight: 500;
}

h1 div.react-reveal span {
	text-transform: initial;
}

h2,
h2 span {
	font-size: 3rem;
	color: #FFFFFF;
	display: block;
	line-height: 1;
}

h1,
h2 {
	position: relative;
	padding-left: 1rem;
	border-left: 0.25rem solid #AB731F;
	margin-bottom: 1.5625rem;
}

h2 .react-reveal {
	font-weight: 400;
}

.page-main {
	min-height: 100vh;
}

h1::before,
h2::before {
	content: '';
	z-index: 3;
	position: absolute;
	left: -1.8125rem;
	width: 1.5625rem;
	height: 100%;
	background-color: #111111;
}

h3 {
	font-size: 2rem;
	text-transform: uppercase;
	color: #AB731F;
}

h4 {
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #FFFFFF;
}

h1,
h2,
h3,
h4 {
	font-family: "magno-sans-variable", sans-serif;
	font-variation-settings: "wght" 700;
}

p,
li,
span,
a {
	color: #FFFFFF;
	font-size: 1.5rem;
	line-height: 1.2;
	font-family: "magno-sans-variable", sans-serif;
	font-variation-settings: "wght" 700;
	letter-spacing: 0.1rem;
}

form p,
form span,
form a {
	font-family: "Kanit", sans-serif;
	font-size: 1rem;
	letter-spacing: 0;
}

p {
	line-height: 1;
}

a,
p {
	font-weight: 400;
}

strong,
b {
	font-size: 1rem;
	line-height: 1.7;
	font-weight: 500;
}

.highlight-secondary,
.highlight-secondary span {
	color: #AB731F;
}

.homepage {
	min-height: 100vh;
}

/* Loader */

.wrapper-loader {
	position: fixed;
	background-color: #111111;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 20;
	right: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: revealSite 1.5s ease forwards;
	animation-delay: 4s;
}

.wrapper-loader img {
	width: 8rem;
    margin: 0;
	animation: zoom-in 3s ease-in-out infinite;
	opacity: 0;
}

@keyframes zoom-in {
	0% {
		transform: scale(1, 1);
		opacity: 0.2;
	}
	50% {
		transform: scale(1.2, 1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0.2;
	}
}

@keyframes revealSite {
	0% {
		top: 0;
	}
	100% {
		display: none;
		top: -100vh;
	}
}

/* Homepage Mobile */

.banner-container {
	position: relative;
	height: 100vh;
}

.banner-container::after {
	content:'';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.banner-container .preview-article {
	position: absolute;
	z-index: 10;
	text-align: right;
	padding: 1.5625rem;
	bottom: 6rem;
}

.banner-container .preview-article .info,
.banner-container .preview-article .info span,
.banner-container .preview-article .title-info {
	font-size: 1.8rem;
}

.banner-container .preview-article .link {
	display: flex;
	font-weight: 500;
	font-size: 1.3rem;
}

.banner-container .background-image {
	object-fit: cover;
    height: 100%;
    width: 100%;
}

.banner-container .image-preview-article {
	display: none;
}

.banner-container .global {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	font-size: 0;
}

/* Navigation Mobile */

.navigation,
.subnavigation,
.navigation .mobile-view .items-nav-wrapper,
.footer,
.recent-articles-container,
.moment-container {
	padding: 1.5625rem;
}

nav:not(.pager-container) {
	margin-bottom: -6.3rem;
}

.navigation {
	transition: all ease-in 0.2s;
	height: auto;
}

.navigation.scroll {
	background: #000000;
}

.navigation .mobile-view .level-0 > li,
.navigation .mobile-view .level-0 > li a {
	margin-bottom: 3rem;
	font-size: 2.125rem;
	color: #AB731F;
	text-transform: uppercase;
}

.navigation .mobile-view .level-0 {
	overflow-y: auto;
    padding: 2rem 0;
}

.navigation .mobile-view .level-0 > li:last-of-type {
	margin-bottom: 0;
}

.navigation .mobile-view .level-0 > li > span,
.footer-title,
.preview-article .link,
.albums-films-wrapper h3 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 2rem;
	color: #AB731F;
}

.navigation .mobile-view .level-0 > li > span::after,
.footer-title::after,
.preview-article .link::after,
.albums-films-wrapper h3::after {
	content: '';
	display: inline-block;
	height: 0.15rem;
	width: 100%;
	margin-left: 1rem;
	margin-bottom: 1rem;
	background-color: #AB731F;
}

.preview-article .link::after {
	margin-bottom: 0.64rem;
}

.albums-films-wrapper h3::after {
	background-color: #000000;
}

.navigation .mobile-view .level-1 {
	margin-top: 1.5rem;
}

.navigation .mobile-view .level-1 > li a {
	display: block;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	text-transform: initial;
	color: #FFFFFF;
}

.navigation .mobile-view .level-1 > li:last-of-type a {
	margin-bottom: 0;
}

.navigation .mobile-view .level-1 > li:last-of-type {
	margin-bottom: 0;
}

.navigation .mobile-view .items-nav-wrapper {
	visibility: hidden;
	z-index: -1;
	left: -100%;
	top: 0;
	padding-top: 6.6rem;
	transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

.navigation .mobile-view.open .items-nav-wrapper {
	visibility: visible;
	left: 0;
}

.navigation .mobile-view .bar {
	position: relative;
	transition: all ease-in 0.4s;
}

.navigation .mobile-view .top-bar {
	top: 0;
}

.navigation .mobile-view .bottom-bar {
	bottom: 0;
}

.navigation .mobile-view.open .top-bar {
	transform: rotate(45deg);
    top: 0.5rem;
}

.navigation .mobile-view.open .middle-bar {
	width: 0;
}

.navigation .mobile-view.open .bottom-bar {
	transform: rotate(-45deg);
	width: 1.75rem;
    bottom: 0.5rem;
}

/* Pager */

.pager-container {
	padding: 0 1rem 3rem 1rem;
	background-color: #FFFFFF;
}

.pagination-numbers {
	display: flex;
	justify-content: center;
	align-content: center;
	overflow-x: auto;
}

.pager-container .pager-item,
.pager-container .pagination-number {
	margin: 0 0.7rem;
}

.pager-container li a,
.pager-container .pagination-number {
	color: #000000;
	font-family: "Kanit", sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0;
}

.pager-container .pagination-number {
	border-bottom: 0.1rem solid transparent;
}

.pager-container .pager-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pager-container .prev-item,
.pager-container .next-item {
	position: relative;
	line-height: 0;
	width: 2rem;
	height: 2rem;
	padding: 0;
	cursor: pointer;
}

.pager-container .prev-item button,
.pager-container .next-item button {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.pager-container .prev-item.disabled,
.pager-container .next-item.disabled {
	opacity: 0.2;
}

.pager-container .prev-item span,
.pager-container .next-item span {
	font-size: 0;
	visibility: hidden;
}

.pager-container .prev-item::before,
.pager-container .next-item::before {
	content: '';
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0.125rem;
	color: #000000;
	opacity: 1;
	width: 2rem;
	height: 2rem;
	border: 0.125rem solid #000000;
	border-radius: 50%;
}

.pagination-numbers li {
	font-family: "Kanit", sans-serif;
	letter-spacing: 0;
	color: #000000;
	font-size: 1.2rem;
	margin: 0 0.6rem;
	padding: 0 0.2rem 0.1rem;
	cursor: pointer;
}

.pagination-numbers li.current {
	border-bottom: 0.15rem solid #AB731F;
	color: #AB731F;
}
.pagination-numbers {
	margin-top: 0.25rem;
}

.pagination-numbers li:hover {
	color: #AB731F;
}

.pager-container .prev-item:not(.disabled):hover::before,
.pager-container .next-item:not(.disabled):hover::before {
	background-color: #AB731F;
}

.pager-container .prev-item::before {
	background-image: url('../public/arrow.svg');
}

.pager-container .next-item::before {
	background-image: url('../public/arrow.svg');
	transform: rotate(180deg);
}


/* Preview Article Mobile */

.preview-article .link {
	display: none;
	justify-content: flex-end;
	color: #AB731F;
	margin-top: 1rem;
	font-size: 0.875rem;
}

.preview-article .link::after {
	width: 0;
	margin-left: 0;
	transition: all ease-in 0.2s;
}

.preview-article .link:hover::after {
	width: 10%;
	margin-left: 1rem;
}

.preview-article span.category {
	text-transform: uppercase;
	color: #AB731F;
	font-size: 1.5rem;
}

.preview-article .category-subcategory {
	margin-top: 1rem;
}

.preview-article .link-image {
	margin-bottom: 0.3rem
}

.preview-article img,
.header-article img {
	width: 100%;
}

.preview-article span.subcategory {
	font-size: 1.5rem;
}

.recent-articles-container .main-article,
.recent-articles-container .main-article img,
.recent-articles-grid .preview-article img {
	width: 100%;
}

.recent-articles-container .main-article {
	margin-bottom: 1.5625rem;
}

.recent-articles-container .main-article .category-subcategory {
	margin-bottom: -1rem;
}

.recent-articles-container .link-image {
	overflow: hidden;
    display: block;
	height: 13rem;
}

.recent-articles-container .link-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.recent-articles-container .main-article .link-image {
	height: 30rem;
}

.recent-articles-container .main-article .category {
	font-size: 2.1rem;
}

.recent-articles-container .main-article .subcategory,
.recent-articles-container .main-article .info {
	font-size: 2.1rem;
}

.preview-article .title-info span {
	font-family: "Kanit", sans-serif;
	letter-spacing: 0;
	font-size: 0.875rem;
	line-height: 1;
}

.recent-articles-grid {
	margin: 0 -1.5rem;
}

.recent-articles-grid .preview-article {
	width: calc(50% - 0.75rem);
	padding: 0 0.75rem;
	margin-bottom: 1.5rem;
}

.recent-articles-grid .preview-article:last-of-type,
.recent-articles-grid .preview-article:nth-last-child(2) {
	margin-bottom: 0;
}

.albums-films-wrapper h3 {
	margin-bottom: 1.5625rem;
}

.album-artist,
.film-artist {
	font-family: "Kanit", sans-serif;
	text-transform: uppercase;
	color: #AB731F;
	font-weight: 500;
	font-size: 1.2rem;
	letter-spacing: 0;
	margin-bottom: 0.3rem;
	margin-top: 0.8rem;
}

.albums-wrapper,
.films-wrapper {
	margin-bottom: 5.125rem;
}

.image-film,
.image-album {
	margin-bottom: 0.5rem;
}

.album-name,
.film-name {
	font-family: "Kanit", sans-serif;
	font-size: 1rem;
	letter-spacing: 0;
	color: #000000;
}

.moment-container h2 div.react-reveal > span {
	color: #000000;
}

.moment-container h2::before {
	background-color: #FFFFFF;
}

/* Footer Mobile */

.footer,
.recent-articles-container,
.moment-container {
	padding-top: 3.571rem;
	padding-bottom: 3.571rem;
}

.footer .block {
	width: 100%;
	margin-bottom: 3.125rem;
}

.footer .block:last-of-type {
	margin-bottom: 0
}

.footer-title {
	text-transform: uppercase;
	margin-bottom: 0.875rem;
}

.contact-container p a,
.contact-container p:not(.footer-title) {
	font-family: "Kanit", sans-serif;
	font-size: 0.875rem;
	letter-spacing: 0;
}

.footer .menu-column {
	width: 50%;
	list-style: initial;
	padding-left: 1rem;
	margin-bottom: 2rem;
}

.footer .menu-column:last-of-type,
.footer .menu-column:nth-last-child(2) {
	margin-bottom: 0;
}

.footer .menu-column span,
.footer .menu-column > a {
	margin-left: -1rem;
	text-transform: uppercase;
	font-weight: 500;
}

.footer .menu-column a:hover {
	color: #AB731F;
}

.footer .menu-column li {
	margin-top: 0.5rem;
	font-weight: 400;
}

.contact-container a {
	color: #AB731F;
	margin-left: 0.2rem;
}

.contact-container a:hover {
	text-decoration: underline;
}

.social {
	margin-bottom: 2.125rem;
}

.copyright p:not(.credit) {
	font-family: "Kanit", sans-serif;
	font-size: 0.875rem;
	letter-spacing: 0;
}

.credit,
.credit a {
	font-size: 0.8rem;
	text-align: left;
	margin-top: 1rem;
	font-family: "Kanit", sans-serif;
	letter-spacing: 0;
}

.credit a {
	color: #AB731F;
}

.credit a:hover {
	text-decoration: underline;
}

.social-item {
	margin: 0 0.5rem;
}

/* Slider Homepage */

.moment-container .albums-items,
.moment-container .films-items {
	margin: 0 -1.5625rem;
}

.moment-container .albums-items img,
.moment-container .films-items img {
	width: 100%;
}

.moment-container .slick-arrow {
	z-index: 1;
	bottom: 0;
	top: initial;
	transform: initial;
}

.moment-container .slick-arrow {
	bottom: -2.25rem;
}

.moment-container .slick-arrow.slick-next::before,
.moment-container .slick-arrow.slick-prev::before {
	content: '';
	display: block;
	background-image: url('../public/arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	padding: 0.125rem;
	color: #000000;
	opacity: 1;
	width: 2rem;
    height: 2rem;
	border: 0.125rem solid #000000;
	border-radius: 50%;
}

.moment-container .slick-arrow.slick-prev {
	left: initial;
	right: 5.3125rem;
}

.moment-container .slick-arrow.slick-next {
	right: 2.3125rem;
}

.moment-container .slick-arrow.slick-next::before {
	transform: rotate(180deg);
}

.moment-container .slick-slide:not(.slick-center) {
	opacity: 0.4;
	transform: scale(0.9);
	transition: all 0.2s ease;
}

.moment-container .slick-list {
	padding-bottom: 2rem;
}

/* Categories */

.category-page,
.article-page {
	padding: 8rem 1.5625rem 3.125rem;
}

.layout-3x2 .text-info,
.layout-1x1 .text-info {
	color: #000000;
}

.main-category-article .text-info {
	color: #FFFFFF;
}

.category-page h1 {
	margin-bottom: 4rem;
}

.category-page h2,
.category-page h3,
.article-page h2 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 1.125rem;
	color: #AB731F;
	text-transform: uppercase;
	border-left: 0;
	padding-left: 0;
}

.article-page h2 {
	justify-content: flex-start;
}

.article-page h2.title-desktop {
	display: none;
}

.article-page h2 span,
.article-page h2 p {
	font-size: 2rem;
}

.article-page h2 span {
	text-transform: initial;
}

.category-page h2 .highlight-secondary,
.article-page h2 .highlight-secondary {
	margin-right: 0.7rem;
}

.category-page h2::before,
.article-page h2::before {
	display: none;
}

.article-page .wrapper-title .title-info,
.article-page .wrapper-title .info span,
.article-page .wrapper-title .info {
	font-size: 1.5rem;
}

.category-page h2::after,
.category-page h3::after {
	content: '';
	display: inline-block;
	height: 0.20rem;
	width: 100%;
	margin-left: 1rem;
	margin-bottom: 0.8rem;
	background-color: #AB731F;
}

.category-page h3::after {
	height: 0.15rem;
	margin-bottom: 0.5rem;
}

.category-page h3 {
	font-size: 1.5rem;
}

.category-page .preview-article .category-subcategory,
.subnavigation .category-subcategory {
	display: none;
}

.category-page .preview-article .title-info,
.grid-container .title-info,
.subnavigation .title-info {
	margin-top: 0.5rem;
}

.article-page .title-info {
	font-size: 1.125rem;
	margin-top: 0.7rem;
}

.category-page .preview-article .title-info span {
	font-size: 1.125rem;
}

.grid-container,
.article-container {
	background-color: #FFFFFF;
	padding: 3.125rem 1.5625rem;
}

.grid-container .category-subcategory {
	display: none;
}

.grid-container .preview-article .info {
	color: #000000;
}

.grid-container .wrapper-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.5625rem;
}

.grid-container .react-reveal:nth-child(3),
.grid-container .react-reveal:nth-child(6),
.grid-container .react-reveal:nth-child(9),
.grid-container .react-reveal:nth-child(12),
.grid-container .react-reveal:nth-child(15) {
	grid-column: 1 / 3;
}

.grid-container.layout-3x2 .react-reveal:nth-child(9) .preview-article {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-left: -1.5625rem;
	margin-right: -1.5625rem;
}

.grid-container.layout-3x2 .react-reveal:nth-child(9) .text-info {
	color: #FFFFFF;
}

.grid-container.layout-3x2 .react-reveal:nth-child(9) .link-image::after {
	content:'';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.grid-container.layout-3x2 .react-reveal:nth-child(9) .title-info {
	position: absolute;
	z-index: 10;
	text-align: right;
	padding: 1.5625rem;
}

.grid-container.layout-3x2 .react-reveal:nth-child(9) .link-image {
	width: 100%;
	margin-bottom: 0;
}

/* Agenda */

.filter-container {
	margin-left: -1.5625rem;
	margin-right: -1.5625rem;
	border-top: 0.1875rem solid #AB731F;
}

.filter-container .item {
	text-transform: uppercase;
	padding: 1rem 0;
	text-align: center;
	cursor: pointer;
	font-size: 1.4rem;
	border-bottom: solid transparent 0.25rem;
}

.filter-container .item.current {
	border-bottom: solid #AB731F 0.25rem;
	color: #AB731F;
}

.result-filter-container {
	margin-left: -1.5625rem;
	margin-right: -1.5625rem;
	margin-bottom: -3.125rem;
}

.agenda-list {
	padding: 3.125rem 1.5625rem;
}

.agenda-list h2::after {
	display: none;
}

.agenda-list h2 {
	display: block;
	padding-left: 1rem;
	margin-bottom: 3rem;
	border-left: 0.25rem solid #AB731F;
	font-size: 2.5rem;
}

.agenda.category-page h3::after {
	margin-bottom: 0.6rem;
}

.month-list p,
.month-list li {
	color: #000000;
}

.event-infos {
	display: flex;
	align-items: flex-start;
	margin-bottom: 1rem;
}

.month-title {
	margin-bottom: 1.5625rem;
	font-family: "Kanit", sans-serif;
	letter-spacing: 0;
	font-weight: 500;
}

.month-date {
	width: auto;
	margin-right: 2.875rem;
}

.month-date p {
	font-size: 1.25rem;
}

.month-item {
	margin-bottom: 4rem;
}

.month-item.Janvier + .Janvier,
.month-item.Février + .Février,
.month-item.Mars + .Mars,
.month-item.Avril + .Avril,
.month-item.Mai + .Mai,
.month-item.Juin + .Juin,
.month-item.Juillet + .Juillet,
.month-item.Août + .Août,
.month-item.Septembre + .Septembre,
.month-item.Octobre + .Octobre,
.month-item.Novembre + .Novembre,
.month-item.Décembre + .Décembre {
	display: none;
}

.month-event {
	list-style: initial;
	padding-left: 2rem;
}

.month-event li,
.month-event li span {
	font-weight: 300;
	font-family: "Kanit", "sans-serif";
	letter-spacing: 0;
	font-size: 1rem;
}

.month-event li::marker {
	color: #AB731F;
}

.event-category {
	display: none;
}

.event-category.active {
	display: block;
}

/* Article */

.wrapper-article p,
.wrapper-article ul {
	margin-bottom: 0.7rem;
	color: #000000;
}

.wrapper-article p,
.wrapper-article ul,
.wrapper-article a{
	font-family: "Kanit", sans-serif;
	font-weight: 300;
	font-size: 0.875rem;
	line-height: 1.7;
	letter-spacing: 0;
}

.wrapper-article a {
	text-decoration: underline;
}

.wrapper-article blockquote {
	font-size: 0.9rem;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	margin: 0.5rem 0 1.8rem;
}

.wrapper-article a:hover {
	text-decoration: none;
}

.wrapper-article p {
	text-align: justify;
}

.wrapper-article img + p {
	margin-top: 1.8rem;
}

.wrapper-article ul li {
	color: #000000;
}

.wrapper-article ul {
	list-style: disc;
	padding-left: 3rem;
}

.wrapper-article ul li::marker,
.wrapper-article a {
	color: #AB731F;
}

.wrapper-article img {
	margin: 1.8rem auto 0;
}

@media (min-width: 1024px) {

	/* Typography */

	h1 {
		font-size: 3.7rem;
		line-height: 1;
	}
	
	h2,
	h2 span {
		font-size: 3.875rem;
	}

	h2 {
		margin-bottom: 3.125rem;
	}

	h3 {
		font-size: 2.5rem;
	}

	.category-page h2,
	.category-page h2 span {
		font-size: 2.8rem;
	}

	h1::before,
	h2::before {
		left: -3.375rem;
		width: 3.125rem;
	}

	/* Navigation Desktop */

	.navigation {
		height: auto;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navigation ul > li {
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;
	}

	.navigation,
	.footer,
	.recent-articles-container,
	.moment-container,
	.category-page,
	.grid-container,
	.article-page,
	.article-container {
		padding-left: 3.125rem;
		padding-right: 3.125rem;
	}

	.navigation:hover {
		background-color: #000000;
	}

	.navigation .desktop-view .level-0 > .item-nav {
		margin: 0 1rem;
	}

	.navigation .desktop-view .level-0 > .item-nav,
	.navigation .desktop-view .level-0 > .item-nav a {
		font-size: 1.7rem;
		letter-spacing: 0.2rem;
	}

	.navigation .desktop-view .level-0 > .item-nav:last-of-type {
		margin-right: 0;
	}

	.navigation .desktop-view .subnavigation {
		position: absolute;
		left: 0;
		right: 0;
		top: 5.36rem;
		padding: 2.5rem;
		width: 100%;
		background: #000000;
		opacity: 0;
		visibility: hidden;
		transition: all ease-in 0.2s;
	}

	.navigation .desktop-view .subnavigation.active {
		opacity: 1;
		visibility: visible;
	}

	.navigation .desktop-view .subnavigation-container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 57.5rem;
		margin: 0 auto;
	}

	.navigation .desktop-view .subnavigation .level-1 li {
		padding: 0.5rem 0;
	}

	.navigation .desktop-view .subnavigation .level-1 li:first-of-type {
		padding-top: 0;
	}

	.navigation .desktop-view .subnavigation .level-1 li:last-of-type {
		padding-bottom: 0;
	}
	.navigation .desktop-view .subnavigation .level-1 {
		width: 20%;
		text-align: right;
	}

	.navigation .desktop-view .subnavigation .recent-articles {
		display: flex;
		width: 80%;
	}

	.navigation .level-0 li > span,
	.navigation .level-0 li > a {
		color: #FFFFFF;
	}

	.navigation .level-0 li:hover > span,
	.navigation .level-0 li:hover > a,
	.navigation .level-1 li:hover > span,
	.navigation .level-1 li:hover > a {
		color: #AB731F;
	}

	.navigation .level-0 > li span {
		cursor: pointer;
	}

	.navigation .level-0 > li {
		cursor: pointer;
		border-bottom: solid transparent 0.125rem;
	}

	.navigation .level-0 > li:hover {
		border-bottom: solid #AB731F 0.125rem;
	}

	.navigation .recent-articles p {
		color: #FFFFFF;
	}

	.navigation .preview-article {
		width: calc(100% / 3);
		margin: 0 1rem;
	}

	.navigation .preview-article:last-of-type {
		margin-right: 0;
	}

	.navigation .preview-article:first-of-type {
		margin-left: 0;
	}

	.navigation .preview-article img {
		width: 100%;
	}

	.subnavigation .link-image {
		height: 9rem;
	}

	/* Preview Article Desktop */

	.preview-article span.category,
	.preview-article span.subcategory {
		font-size: 1.7rem;
	}

	.preview-article .title-info span {
		font-size: 1rem;
	}

	.navigation .preview-article span.category {
		font-size: 1rem;
	}

	.navigation .preview-article span.subcategory {
		font-size: 0.875rem;
	}

	.preview-article .link-image {
		overflow: hidden;
		display: block;
		margin-bottom: 0;
	}

	.preview-article img {
		height: 100%;
		object-fit: cover;
		transition: transform ease-in 0.3s;
	}
		
	.preview-article .link-image:hover img {
		transform: scale(1.05);
	}

	.articles-wrapper .main-article,
	.articles-wrapper .recent-articles-grid {
		width: 50%;
	}

	.recent-articles-grid {
		margin: 0;
	}												

	.recent-articles-grid .preview-article {
		width: calc(50% - 1rem);
		padding: 0 1rem;
	}

	.recent-articles-grid .preview-article:nth-child(odd) {
		padding-left: 0;
	}

	.recent-articles-grid .preview-article:nth-child(even) {
		padding-right: 0;
	}

	.recent-articles-container .main-article {
		position: sticky;
		top: 7rem;
		margin-bottom: 0;
	}

	.albums-films-wrapper {
		margin: 0 -1.7rem;
	}

	.albums-wrapper,
	.films-wrapper {
		margin: 0 1.7rem;
	}

	.album-artist,
	.film-artist {
		font-size: 1rem;
	}

	.albums-wrapper .link-to,
	.films-wrapper .link-to,
	.preview-article .link-to {
		z-index: 3;
		color: #FFFFFF;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		white-space: nowrap;
		top: 55%;
		left: 50%;
		text-align: center;
		transform: translateX(-50%) translateY(-50%);
		transition: all 0.3s ease-in;
		padding-bottom: 0.3rem;
		border-bottom: 0.15rem solid #AB731F;
	}

	.album-image-link,
	.film-image-link,
	.preview-article .link-image {
		position: relative;
	}

	.album-image-link::after,
	.film-image-link::after,
	.preview-article .link-image::after {
		content:'';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.7);
		transition: opacity 0.4s ease-in;
	}

	.album-image-link:hover .link-to,
	.film-image-link:hover .link-to,
	.preview-article .link-image:hover .link-to {
		top: 50%;
		opacity: 1;
		visibility: visible;
	}

	.album-image-link:hover::after,
	.film-image-link:hover::after,
	.preview-article .link-image:hover::after{
		opacity: 1;
	}

	.albums-items .album:nth-child(2),
	.films-items .film:nth-child(2) {
		margin: 0 1.3rem;
	}

	.albums-films-wrapper {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.albums-films-wrapper .film,
	.albums-films-wrapper .album {
		width: 100%;
	}

	.albums-films-wrapper .albums-wrapper,
	.albums-films-wrapper .films-wrapper {
		width: 50%;
	}

	.albums-films-wrapper .albums-wrapper {
		margin-left: 0;
	}

	.albums-films-wrapper .films-wrapper {
		margin-right: 0;
	}

	.moment-container .albums-items,
	.moment-container .films-items {
		margin: 0;
	}

	/* Categories */

	.category-page,
	.article-page {
		padding-top: 10rem;
	}

	.category-page h2 {
		justify-content: flex-start;
		margin-bottom: 1rem;
	}

	.category-page .info-main-article .link-image,
	.category-page .info-main-article .category-subcategory,
	.category-page .info-main-article .link {
		display: none;
	}

	.category-page .main-category-article .info-main-article .preview-article {
		width: 100%;
	}

	.category-page .info-main-article .preview-article .title-info span {
		display: block;
		font-size: 1.5rem;
		margin-top: 0.5rem;

	}

	.category-page .main-category-article > .preview-article .title-info {
		display: none;
	}

	.category-page h2::after {
		width: 100%;
	}

	.category-page .wrapper-title {
		width: 40%;
	}

	.category-page .main-category-article .preview-article {
		width: 60%;
	}

	.category-page.contest .main-category-article .preview-article,
	.category-page.playlist .main-category-article .preview-article {
		width: 40%;
	}

	.category-page.contest .wrapper-title,
	.category-page.playlist .wrapper-title {
		width: 60%;
	}

	.category-page .main-category-article.square .preview-article {
		max-width: 36rem;
	}

	.category-page .main-category-article.square .wrapper-title {
		width: 100%;
	}

	.grid-container.layout-3x2 .wrapper-grid,
	.grid-container.layout-1x1 .wrapper-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: minmax(100px, auto);
		grid-auto-columns: auto;
		grid-gap: 1.875rem;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(1),
	.grid-container.layout-3x2 .react-reveal:nth-child(4),
	.grid-container.layout-3x2 .react-reveal:nth-child(10) {
		grid-column: 1/2;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(2),
	.grid-container .react-reveal:nth-child(5) {
		grid-column: 2/3;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(11) {
		grid-column: 1/3;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(11) {
		grid-row: 5/7;
	}


	.grid-container.layout-3x2 .react-reveal:nth-child(3) {
		grid-row: 1/3;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(12),
	.grid-container.layout-3x2 .react-reveal:nth-child(14) {
		grid-column: 3/4;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(3) {
		grid-column: 3/5;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(3) .preview-article,
	.grid-container.layout-3x2 .react-reveal:nth-child(11) .preview-article {
		height: calc(100% - 2.2rem);
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(3) .preview-article .link-image,
	.grid-container.layout-3x2 .react-reveal:nth-child(11) .preview-article .link-image {
		height: 100%;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(13),
	.grid-container.layout-3x2 .react-reveal:nth-child(15) {
		grid-column: 4/5;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(6),
	.grid-container.layout-3x2 .react-reveal:nth-child(16) {
		grid-column: 1 / 2;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(7),
	.grid-container.layout-3x2 .react-reveal:nth-child(17) {
		grid-column: 2 / 3;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(8),
	.grid-container.layout-3x2 .react-reveal:nth-child(18) {
		grid-column: 3 / 4;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(9),
	.grid-container.layout-3x2 .react-reveal:nth-child(19) {
		grid-column: 4 / 5;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(9) .preview-article {
		display: block;
		margin-left: 0;
		margin-right: 0;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(10) .text-info {
		color: #FFFFFF;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(9) .text-info {
		color: #000000;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(9) .link-image::after {
		display: none;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(9) .title-info {
		position: static;
		text-align: left;
		padding: 0;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(9) .info {
		color: #000000;
	}

	.grid-container.layout-3x2 .react-reveal:nth-child(10) {
		grid-column: 1 / 5;

	}

	.grid-container.layout-3x2 .react-reveal:nth-child(10) .preview-article {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin-left: -3.125rem;
		margin-right: -3.125rem;
	}
	
	.grid-container.layout-3x2 .react-reveal:nth-child(10) .info {
		color: #FFFFFF;
	}
	
	.grid-container.layout-3x2 .react-reveal:nth-child(10) .link-image::after {
		content:'';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}
	
	.grid-container.layout-3x2 .react-reveal:nth-child(10) .title-info {
		position: absolute;
		z-index: 10;
		text-align: right;
		padding: 1.5625rem 3.125rem;
		font-size: 1.125rem;
	}
	
	.grid-container.layout-3x2 .react-reveal:nth-child(10) .link-image {
		width: 100%;
		margin-bottom: 0;
		height: 30rem;
	}

	.grid-container.layout-1x1 .react-reveal:nth-child(1) {
		grid-column: 1/3;
		grid-row: 1/3;
	}

	.grid-container.layout-1x1 .react-reveal:nth-child(11) {
		grid-column: 1/3;
		grid-row: 5/7;
	}

	.grid-container.layout-1x1 .react-reveal:nth-child(2),
	.grid-container.layout-1x1 .react-reveal:nth-child(4),
	.grid-container.layout-1x1 .react-reveal:nth-child(12),
	.grid-container.layout-1x1 .react-reveal:nth-child(14) {
		grid-column: 3/4;
	}

	.grid-container.layout-1x1 .react-reveal:nth-child(3),
	.grid-container.layout-1x1 .react-reveal:nth-child(5),
	.grid-container.layout-1x1 .react-reveal:nth-child(13),
	.grid-container.layout-1x1 .react-reveal:nth-child(15) {
		grid-column: 4/5;
	}

	.grid-container.layout-1x1 .react-reveal:nth-child(6),
	.grid-container.layout-1x1 .react-reveal:nth-child(9) {
		grid-column: 1/2;
	}

	.grid-container.layout-1x1 .react-reveal:nth-child(7),
	.grid-container.layout-1x1 .react-reveal:nth-child(10) {
		grid-column: 2/3;
	}

	.grid-container.layout-1x1 .react-reveal:nth-child(8) {
		grid-column: 3/5;
		grid-row: 3/5;
	}

	.grid-container.layout-1x1 .react-reveal:nth-child(1) .preview-article,
	.grid-container.layout-1x1 .react-reveal:nth-child(8) .preview-article,
	.grid-container.layout-1x1 .react-reveal:nth-child(11) .preview-article {
		height: calc(100% - 2.2rem);
	}

	.grid-container.layout-1x1 .react-reveal:nth-child(1) .preview-article .link-image,
	.grid-container.layout-1x1 .react-reveal:nth-child(8) .preview-article .link-image,
	.grid-container.layout-1x1 .react-reveal:nth-child(11) .preview-article .link-image {
		height: 100%;
	}

	/* Footer Desktop */

	.footer .menu-container,
	.footer .contact-container {
		width: calc(40% - 2rem);
	}

	.footer .menu-container {
		margin-right: 2rem;
	}

	.footer .contact-container {
		margin-left: 2rem;
	}

	.footer .footer-logo {
		width: 20%;
	}

	.social {
		margin-bottom: 0;
	}

	/* Banner Desktop */

	.banner-container .preview-article .info,
	.banner-container .preview-article .info span,
	.banner-container .preview-article .title-info {
		font-size: 2.5rem;
	}

	.banner-container .preview-article .category,
	.banner-container .preview-article .subcategory {
		font-size: 2.875rem;
	}

	.banner-container .preview-article .link {
		font-size: 1.8rem;
	}

	.banner-container .preview-article {
		bottom: 0;
		padding: 3.125rem;
		width: 100%;
		left: 0;
		right: 0;
		max-width: 1636px;
	}

	/* Agenda */

	.agenda-list {
		padding: 3.125rem 3.125rem 0 3.125rem;
	}

	.filter-container {
		margin-left: -3.125rem;
		margin-right: -3.125rem;
	}

	.filter-items {
		max-width: 40rem;
    	margin: 0 auto;
	}

	.filter-container ul {
		justify-content: center;
	}

	.filter-container .item {
		width: auto !important;
		margin: 0 3.125rem;
		transition: all 0.2s ease-in;
	}

	.filter-container .item.current {
		border-bottom: solid #AB731F 0.25rem;
	}

	.result-filter-container {
		margin-left: -3.125rem;
		margin-right: -3.125rem;
	}

	.month-container {
		margin: 0 -3rem;
	}

	.filter-title h2 {
		margin-bottom: 2rem;
		font-size: 2.5rem;
	}

	.month-list {
		display: flex;
		flex-wrap: wrap;
	}

	.month-item {
		width: calc((100% / 3) - 6rem);
		margin: 0 3rem 3.125rem;
	}

	.event-infos:last-of-type {
		margin-bottom: 0;
	}

	.filter-container .item:hover {
		color: #AB731F
	}

	/* Article */


	.article-page h2.title-desktop {
		display: flex;
		margin-bottom: 1rem;
	}

	.article-page h2,
	.article-page h2 p,
	.article-page h2 span {
		font-size: 3rem;
	}

	.article-page h2.title-mobile {
		display: none;
	}

	.article-page img {
		width: 60%;
	}

	.article-page .wrapper-title .title-info,
	.article-page .wrapper-title .title-info span {
		font-size: 1.9rem;
	}

	.article-page .wrapper-title {
		display: flex;
		flex-direction: column;
		width: 40%;
		margin-left: 3rem;
	}

	.wrapper-article img {
		max-width: 37.5rem;
		margin-left: auto;
		margin-right: auto;
	}

	.wrapper-article p:first-of-type:first-letter {
		initial-letter: 3 3;
		margin-right: 1rem;
		color: #AB731F;
	}
}

@media (min-width: 1280px) {

	/* Footer Large Desktop */

	.footer .menu-column {
		width: 25%;
	}
}

@media (min-width: 1536px) {

	/* Categories*/

	.grid-container.layout-3x2 .react-reveal:nth-child(10) .preview-article {
		margin-left: auto;
		margin-right: auto;
		max-width: 96rem;
	}
}
