@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

.sr-only {
	position: absolute;
	width: 0.0625rem;
	height: 0.0625rem;
	padding: 0;
	margin: -0.0625rem;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

/* Typography */

h1 {
	font-size: 2.625rem;
	text-transform: uppercase;
	color: #AB731F;
}

h2,
h2 span {
	font-size: 1.875rem;
	color: #FFFFFF;
	display: block;
}

h2 {
	position: relative;
	padding-left: 1rem;
	border-left: 0.25rem solid #AB731F;
	margin-bottom: 1.5625rem;
}

h2 .react-reveal {
	font-weight: 400;
}

h2::before {
	content: '';
	z-index: 3;
	position: absolute;
	left: -1.8125rem;
	width: 1.5625rem;
	height: 100%;
	background-color: #111111;
}

h3 {
	font-size: 1.125rem;
	text-transform: uppercase;
	color: #AB731F;
}

h4 {
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #FFFFFF;
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
}

p,
li,
span,
a {
	font-size: 0.875rem;
	color: #FFFFFF;
}

a,
p {
	font-weight: 400;
}

strong,
b {
	font-size: 0.875rem;
	color: #AB731F;
}

strong,
b {
	font-weight: 700;
}

.highlight-secondary,
.highlight-secondary span {
	color: #AB731F;
}

/* Homepage Mobile */

.banner-container {
	position: relative;
	height: 100dvh;
}

.banner-container::after {
	content:'';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.banner-container .preview-article {
	position: absolute;
	z-index: 10;
	text-align: right;
	padding: 1.5625rem;
}

.banner-container .preview-article .info {
	font-size: 1.875rem;
}

.banner-container .preview-article .link {
	display: flex;
}

.banner-container .background-image {
	object-fit: cover;
    height: 100%;
    width: 100%;
}

.banner-container .image-preview-article {
	display: none;
}

/* Navigation Mobile */

.navigation,
.subnavigation,
.navigation .mobile-view .items-nav-wrapper,
.footer,
.recent-articles-container,
.moment-container {
	padding: 1.5625rem;
}

nav {
	margin-bottom: -4.625rem;
}

.navigation {
	transition: all ease-in 0.2s;
}

.navigation.scroll {
	background: #000000;
}

.navigation .mobile-view .level-0 > li,
.navigation .mobile-view .level-0 > li a {
	margin-bottom: 3rem;
	font-size: 1.125rem;
	color: #AB731F;
	text-transform: uppercase;
}

.navigation .mobile-view .level-0 > li:last-of-type {
	margin-bottom: 0;
}

.navigation .mobile-view .level-0 > li > span,
.footer-title,
.preview-article .link,
.albums-films-wrapper h3 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 1.125rem;
	color: #AB731F;
	text-transform: uppercase;
}

.navigation .mobile-view .level-0 > li > span::after,
.footer-title::after,
.preview-article .link::after,
.albums-films-wrapper h3::after {
	content: '';
	display: inline-block;
	height: 0.15rem;
	width: 100%;
	margin-left: 1rem;
	margin-bottom: 0.4rem;
	background-color: #AB731F;
}

.albums-films-wrapper h3::after {
	background-color: #000000;
}

.navigation .mobile-view .level-1 {
	margin-top: 1.5rem;
}

.navigation .mobile-view .level-1 > li a {
	display: block;
	margin-bottom: 1rem;
	font-size: 1rem;
	text-transform: initial;
	color: #FFFFFF;
}

.navigation .mobile-view .level-1 > li:last-of-type a {
	margin-bottom: 0;
}

.navigation .mobile-view .level-1 > li:last-of-type {
	margin-bottom: 0;
}

.navigation .mobile-view .items-nav-wrapper {
	visibility: hidden;
	z-index: -1;
	left: -100%;
	top: 0;
	padding-top: 4.6rem;
	transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

.navigation .mobile-view.open .items-nav-wrapper {
	visibility: visible;
	left: 0;
}

.navigation .mobile-view .bar {
	position: relative;
	transition: all ease-in 0.4s;
}

.navigation .mobile-view .top-bar {
	top: 0;
}

.navigation .mobile-view .bottom-bar {
	bottom: 0;
}

.navigation .mobile-view.open .top-bar {
	transform: rotate(45deg);
    top: 0.5rem;
}

.navigation .mobile-view.open .middle-bar {
	width: 0;
}

.navigation .mobile-view.open .bottom-bar {
	transform: rotate(-45deg);
	width: 1.75rem;
    bottom: 0.5rem;
}

/* Preview Article Mobile */

.preview-article .link {
	display: none;
	justify-content: flex-end;
	color: #AB731F;
	margin-top: 1rem;
	font-size: 0.875rem;
	text-transform: uppercase;
}

.preview-article .link::after {
	width: 0;
	margin-left: 0;
	transition: all ease-in 0.2s;
}

.preview-article .link:hover::after {
	width: 10%;
	margin-left: 1rem;
}

.preview-article span.category {
	text-transform: uppercase;
	color: #AB731F;
	font-size: 0.875rem;
}

.preview-article .category-subcategory {
	margin-top: 0.5rem;
}

.preview-article .link-image {
	margin-bottom: 0.3rem
}

.preview-article span.subcategory {
	font-size: 0.875rem;
}

.recent-articles-container .main-article,
.recent-articles-container .main-article img,
.recent-articles-grid .preview-article img {
	width: 100%;
}

.recent-articles-container .main-article {
	margin-bottom: 1.5625rem;
}

.recent-articles-container .main-article .category {
	font-size: 1.375rem;
}

.recent-articles-container .main-article .subcategory,
.recent-articles-container .main-article .info {
	font-size: 1.125rem;
}

.recent-articles-grid {
	margin: 0 -1.5rem;
}

.recent-articles-grid .preview-article {
	width: calc(50% - 0.75rem);
	padding: 0 0.75rem;
	margin-bottom: 1.5rem;
}

.recent-articles-grid .preview-article:last-of-type,
.recent-articles-grid .preview-article:nth-last-child(2) {
	margin-bottom: 0;
}

.albums-films-wrapper h3 {
	margin-bottom: 1.5625rem;
}

.album-artist,
.film-artist {
	text-transform: uppercase;
	color: #AB731F;
	font-weight: 500;
}

.albums-wrapper {
	margin-bottom: 3.125rem;
}

.image-film,
.image-album {
	margin-bottom: 0.5rem;
}

.album-name,
.film-name {
	color: #000000;
}

.moment-container h2 div.react-reveal > span {
	color: #000000;
}

.moment-container h2::before {
	background-color: #FFFFFF;
}

/* Footer Mobile */

.footer,
.recent-articles-container,
.moment-container {
	padding-top: 3.571rem;
	padding-bottom: 3.571rem;
}

.footer .block {
	width: 100%;
	margin-bottom: 3.125rem;
}

.footer .block:last-of-type {
	margin-bottom: 0
}

.footer-title {
	margin-bottom: 0.875rem;
}

.footer .menu-column {
	width: 50%;
	list-style: initial;
	padding-left: 1rem;
	margin-bottom: 2rem;
}

.footer .menu-column:last-of-type,
.footer .menu-column:nth-last-child(2) {
	margin-bottom: 0;
}

.footer .menu-column span,
.footer .menu-column > a {
	margin-left: -1rem;
	text-transform: uppercase;
	font-weight: 500;
}

.footer .menu-column a:hover {
	color: #AB731F;
}

.footer .menu-column li {
	margin-top: 0.5rem;
	font-weight: 400;
}

.contact-container a {
	color: #AB731F;
}

.contact-container a:hover {
	text-decoration: underline;
}

.social {
	margin-bottom: 3.125rem;
}

.social-item {
	margin: 0 0.5rem;
}

@media (min-width: 1024px) {

	/* Typography */

	h1,
	h2 {
		font-size: 3.5rem;
	}
	
	h2,
	h2 span {
		font-size: 2.875rem;
	}

	h2 {
		margin-bottom: 3.125rem;
	}

	h2::before {
		left: -3.375rem;
		width: 3.125rem;
	}

	/* Navigation Desktop */

	.navigation {
		padding-bottom: 0;
	}

	.navigation,
	.footer,
	.recent-articles-container,
	.moment-container {
		padding-left: 3.125rem;
		padding-right: 3.125rem;
	}

	.navigation:hover {
		background-color: #000000;
	}

	.navigation .desktop-view .level-0 > .item-nav {
		margin: 0 1rem;
	}

	.navigation .desktop-view .level-0 > .item-nav:last-of-type {
		margin-right: 0;
	}

	.navigation .desktop-view .subnavigation {
		position: absolute;
		left: 0;
		right: 0;
		top: 4.2rem;
		width: 100%;
		background: #000000;
		visibility: hidden;
		transition: all ease-in 0.1s;
	}

	.navigation .desktop-view .subnavigation-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 57.5rem;
		margin: 0 auto;
	}

	.navigation .desktop-view .level-0 li:hover > .subnavigation {
		visibility: visible;
	}

	.navigation .desktop-view .subnavigation .level-1 li {
		padding: 0.5rem 0;
	}

	.navigation .desktop-view .subnavigation .level-1 li:first-of-type {
		padding-top: 0;
	}

	.navigation .desktop-view .subnavigation .level-1 li:last-of-type {
		padding-bottom: 0;
	}
	.navigation .desktop-view .subnavigation .level-1 {
		width: 20%;
	}

	.navigation .desktop-view .subnavigation .recent-articles {
		display: flex;
		width: 80%;
	}

	.navigation .level-0 li > span,
	.navigation .level-0 li > a {
		color: #FFFFFF;
	}

	.navigation .level-0 li:hover > span,
	.navigation .level-0 li:hover > a,
	.navigation .level-1 li:hover > span,
	.navigation .level-1 li:hover > a {
		color: #AB731F;
	}

	.navigation .level-0 > li,
	.navigation .logo-wrapper {
		padding-bottom: 1.2rem;
	}

	.navigation .level-0 > li span {
		cursor: pointer;
	}

	.navigation .level-0 > li {
		border-bottom: solid transparent 0.125rem;
	}

	.navigation .level-0 > li:hover {
		border-bottom: solid #AB731F 0.125rem;
	}

	.navigation .recent-articles p {
		color: #FFFFFF;
	}

	.navigation .article {
		width: calc(100% / 3);
		margin: 0 1rem;
	}

	.navigation .article:last-of-type {
		margin-right: 0;
	}

	.navigation .article:first-of-type {
		margin-left: 0;
	}

	.navigation .article img {
		width: 100%;
	}

	/* Preview Article Desktop */

	.preview-article span.category {
		font-size: 1.25rem;
	}

	.preview-article span.subcategory {
		font-size: 1.125rem;
	}

	.navigation .preview-article span.category {
		font-size: 1rem;
	}

	.navigation .preview-article span.subcategory {
		font-size: 0.875rem;
	}

	.preview-article .link-image {
		overflow: hidden;
		display: block;
		margin-bottom: 0;
	}

	.preview-article img {
		object-fit: cover;
		transition: transform ease-in 0.3s;
	}

	.preview-article img:hover {
		transform: scale(1.05);
	}

	.articles-wrapper .main-article,
	.articles-wrapper .recent-articles-grid {
		width: 50%;
	}

	.recent-articles-grid {
		margin: 0;
	}

	.recent-articles-grid .preview-article {
		width: calc(50% - 1rem);
		padding: 0 1rem;
	}

	.recent-articles-grid .preview-article:nth-child(odd) {
		padding-left: 0;
	}

	.recent-articles-grid .preview-article:nth-child(even) {
		padding-right: 0;
	}

	.recent-articles-container .main-article {
		position: sticky;
		top: 7rem;
		margin-bottom: 0;
	}

	.albums-films-wrapper {
		margin: 0 -1.7rem;
	}

	.albums-wrapper,
	.films-wrapper {
		margin: 0 1.7rem;
	}

	.albums-wrapper .link-to,
	.films-wrapper .link-to {
		z-index: 3;
		color: #FFFFFF;
		position: absolute;
		opacity: 0;
		white-space: nowrap;
		top: 55%;
		left: 50%;
		text-align: center;
		transform: translateX(-50%) translateY(-50%);
		transition: all 0.3s ease-in;
		padding-bottom: 0.3rem;
		border-bottom: 0.15rem solid #AB731F;
	}

	.album-image-link,
	.film-image-link {
		position: relative;
	}

	.album-image-link::after,
	.film-image-link::after {
		content:'';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.7);
		transition: opacity 0.4s ease-in;
	}

	.album-image-link:hover .link-to,
	.film-image-link:hover .link-to {
		top: 50%;
		opacity: 1;
	}

	.album-image-link:hover::after,
	.film-image-link:hover::after {
		opacity: 1;
	}

	.albums-items .album:nth-child(2),
	.films-items .film:nth-child(2) {
		margin: 0 1.3rem;
	}

	/* Footer Desktop */

	.footer .menu-container,
	.footer .contact-container {
		width: calc(40% - 2rem);
	}

	.footer .menu-container {
		margin-right: 2rem;
	}

	.footer .contact-container {
		margin-left: 2rem;
	}

	.footer .footer-logo {
		width: 20%;
	}

	.social {
		margin-bottom: 0;
	}

	/* Banner Desktop */

	.banner-container .preview-article .info {
		font-size: 2.5rem;
	}

	.banner-container .preview-article .category,
	.banner-container .preview-article .subcategory {
		font-size: 1.875rem;
	}

	.banner-container .preview-article {
		padding: 3.125rem;
	}
}

@media (min-width: 1280px) {

	/* Footer Large Desktop */

	.footer .menu-column {
		width: 25%;
	}
}

